@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Manrope:wght@700;900&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --font-header: 'Inter', 'Manrope', sans-serif;
  --font-body: 'Open Sans', 'Roboto', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}

html, body {
  background-color: #FFFFFF;
  color: #3E2C2C;
} */
